<div class="alert_block">
	<div class="alert success-alert">
		<p>Success <img src="img/008-error.svg" class="error" alt="error"></p>
	</div>
	<div class="alert info-alert">
		<p>Info <img src="img/008-error.svg" class="error" alt="error"></p>
	</div>
	<div class="alert warning-alert">
		<p>Warning <img src="img/008-error.svg" class="error" alt="error"></p>
	</div>
	<div class="alert danger-alert">
		<p>Danger <img src="img/008-error.svg" class="error" alt="error"></p>

	</div>
</div>