<nav class="navbar">
	<div>
		<form class="navbar-form navbar-left">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn"><img src="img/search.svg" alt="Search"></button>
		</form>
		<ul class="nav navbar-nav">
			<li class="home_link"><a href="#"><img src="img/014-home.svg" alt="Home"></a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contacts</a></li>
		</ul>
	</div>

</nav>