<ul class="social_list">
	<li>
		<a href="#" class="twitter">
			<img src="img/twitter-logo-silhouette.svg" alt="" class="close_menu">
		</a>
	</li>
	<li>
		<a href="#" class="media">
			<img src="img/social-media.svg" alt="" class="close_menu">
		</a>
	</li>
	<li>
		<a href="#" class="google">
			<img src="img/google-plus-logo.svg" alt="" class="close_menu">
		</a>
	</li>
	<li>
		<a href="#" class="facebook">
			<img src="img/facebook-logo.svg" alt="" class="close_menu">
		</a>
	</li>
</ul>