<div class="weather_block">
	<div class="weather_header">
		<p class="weather_city">Exeter,UK</p>
		<ul class="weather_deg">
			<li>&#176;F</li>
			<li class="weather_deg_active">&#176;C</li>
		</ul>
	</div>
	<div class="weather-for">
		
		<div class="weather_slide">
			<img src="img/002-sun.svg" alt="">
			<p class="weather_deg"><span class="temperature">21</span><span class="deg">&#176;</span></p>
		</div>
		<div class="weather_slide">
			<img src="img/004-cloud.svg" alt="">
			<p class="weather_deg"><span class="temperature">18</span><span class="deg">&#176;</span></p>
		</div>
		<div class="weather_slide">
			<img src="img/003-cloud-1.svg" alt="">
			<p class="weather_deg"><span class="temperature">19</span><span class="deg">&#176;</span></p>
		</div>
		<div class="weather_slide">
			<img src="img/004-cloud.svg" alt="">
			<p class="weather_deg"><span class="temperature">16</span><span class="deg">&#176;</span></p>
		</div>
	</div>
	<div class="weather-nav">
		<div class="weather_slide">
			<img src="img/002-sun.svg" alt="Monday">
			<p class="weather-nav_title">Monday</p>
		</div>
		<div class="weather_slide">
			<img src="img/004-cloud.svg" alt="Tuesday">
			<p class="weather-nav_title">Tuesday</p>
		</div>
		<div class="weather_slide">
			<img src="img/003-cloud-1.svg" alt="Wednesday">
			<p class="weather-nav_title">Wednesday</p>
		</div>
		<div class="weather_slide">
			<img src="img/004-cloud.svg" alt="Thursday">
			<p class="weather-nav_title">Thursday</p>
		</div>
	</div>
</div>